.fullScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.blob1 {
  position: absolute;
  bottom: -15%;
  left: -15%;
}

.blob2 {
  position: absolute;
  margin-top: -15%;
  right: -15%;
}

.loginModal {
  background: #fff;
  border-radius: 10px;
  display: inline-block;
  min-height: 380px;
  margin: auto;
  position: absolute;
  max-width: 500px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  overflow: hidden;
  width: 80%;
  padding: 40px;
}

.loginButton {
  background-color: #4285F4;
  color: white;
  height: 47px;
  width: 200px;
  font-weight: 600;
  padding-top: 0px;
  padding-left: 0px;
  border: none;
  margin-top: 30px;
}

.loginButton:hover {
  background-color: #4285F4;
  color: white;
  box-shadow: 0 0 3px 3px rgb(66 133 244 / 30%);
}

.loginButton:focus {
  background-color: #4285F4;
  color: white;
}

.loginIconDiv {
  margin-top: -2px;
  margin-left: -4px;
}

.loginIcon {
  margin-top: 0px;
  padding-top:0px;
}

.loginText {
  position: relative;
  margin-left: 10px;
  top: -18px;
}
