.addButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 24px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 0;
}

.drawer {
  width: calc(100vw - 200px);
  margin-left: 200px;
}

.transition:last-child {
  width: 0px;
}


.recipeImg {
  width: 90px;
  height: 90px;
  object-fit: cover;
  object-position: right bottom;
}

.card {
  width: 138px;
  height: 138px;
}
