
.recipeImg {
  width: 90px;
  height: 90px;
  object-fit: cover;
  object-position: right bottom;
}

.card {
  width: 138px;
  height: 138px;
}

.cropped {
  max-width: 100px;
  height: 100px;
  object-fit: cover;
}

.deleteButton {
  float: right;
  margin-top: -35px;
  margin-right: -40px;
  cursor: pointer;
  line-height: 0px;
  padding: 1px 1px;
  border-radius: 5%;
  width: 24px;
  height: 24px;
  z-index: 1;
}

.servingSize {
  width: 25px;
  padding: 0px 1px 0px 0px;
  text-align: center;
  background-color: #153756;
  color: white;
  border-radius: 50%;
  height: 24px;
  z-index: 1;
  float: right;
  margin-right: 25px;
  margin-top: 10px;
  position: relative;
  cursor: default;
}

.leftServingArrow {
  position: relative;
  float: left;
  margin-top: 10px;
  margin-left: 12px;
  cursor: pointer;
}

.rightServingArrow {
  position: relative;
  float: right;
  margin-top: 10px;
  margin-right: -52px;
  cursor: pointer;
}