.sidebarTitle {
  color: rgba(255, 255, 255, 0.65);;
  margin-left: 25px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.sidebarTitle > h2 {
  color: #FFFFFF;
}

.iconCredit {
  color: rgba(236, 236, 236, 0.65);
  font-size: 10px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  width: 100%;
}
