.card {
  margin: 30px;
  width: 430px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.goalImg {
  max-width: 40px;
  height: 40px;
  object-fit: cover;
  margin: 17px 0px 0px 17px;
}

.goalImgBorder { 
  border: 8px solid rgb(192, 192, 192);
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin-right: 20px;
}