.addButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 24px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 0;
}

.trashButton {
  position: fixed;
  bottom: 20px;
  right: 80px;
  font-size: 24px;
  height: 50px;
  width: 50px;
  padding: 0;
}

.recipeImg {
  max-width: 90px;
  height: 90px;
  object-fit: cover;
}

.card {
  width: 138px;
  height: 138px;
}