.calendar {
  display: flex;
  min-width: 80vw;
  margin-left: 50px;
  margin-right: 50px;
  border: 1px solid lightgray;
}

.singleDayCol {
  width: 145px;
  margin: 1vw;
}

.singleDayTitle {
  text-align: center;
}

.singleDayTitle:hover {
  color: #1890FF;
  cursor: pointer;
}

.mealCol {
  min-width: 140px;
}

